<template>
	<div class="slds-card">
		<template if:true={properties.data}>
			<lightning-layout horizontal-align="center" multiple-rows="true">
				<template for:each={properties.data} for:item="property">
					<lightning-layout-item key={property.Id} padding="around-small" size="12" small-device-size="6" medium-device-size="4" large-device-size="3">
						<c-property-tile-lwc property={property}></c-property-tile-lwc>
					</lightning-layout-item>
				</template>
			</lightning-layout>
		</template>
		<template if:true={properties.error}>
			{properties.error.message}
		</template>
	</div>
</template>