<template>
	<lightning-card title="EXERCISE 7B">
		<div class="slds-p-horizontal_small">
			<lightning-icon icon-name="utility:error" variant="error" class="blackBorder"></lightning-icon>
		</div>
	</lightning-card>
</template>