<template>
	<lightning-card title="EXERCISE 21">
		<div class="slds-p-horizontal_small">
			<c-exercise21 onpropertiesselected={handlePropertiesSelected}></c-exercise21>
		</div>
	</lightning-card>
</template>
