<template>
	<lightning-card title="EXERCISE 10">
		<div class="slds-p-horizontal_small">
			<c-exercise10 item-name="Item passed in by the caller"></c-exercise10>
		</div>
	</lightning-card>
</template>
