<template>
	<lightning-card title="EXERCISE 9">
		<div class="slds-p-horizontal_small">
			<c-exercise9 item-name="Item passed in by the caller">
			</c-exercise9>
		</div>
	</lightning-card>
</template>
