<template>
	<lightning-card title="EXERCISE 8">
		<div class="slds-p-horizontal_small">
			{helloWorld}
			<lightning-button label="Change private property" onclick={handleClick}>
			</lightning-button>
		</div>
	</lightning-card>
</template>