<template>
	<lightning-card title="EXERCISE 18">
		<lightning-button slot="actions" label="this.template.querySelector in parent" onclick={showTemplateContent}>
		</lightning-button>
		<div class="slds-p-horizontal_small">
			<c-exercise18>
				<p>This goes into unnamed slot</p>
				<p slot="namedSlot">This goes into named slot</p>
			</c-exercise18>
		</div>
	</lightning-card>
</template>
