<template>
	<lightning-card title="EXERCISE 6">
		<div class="slds-p-horizontal_small">
			<ul>
				<template for:each={fruits} for:item="fruit">
					<li key={fruit}>{fruit}</li>
				</template>
			</ul>
		</div>
	</lightning-card>
</template>