<template>
	<lightning-card title="EXERCISE 29B">
		<div class="slds-p-horizontal_small">
			<lightning-record-view-form
				record-id={recordId}
				object-api-name={accountObject}>
				<lightning-messages>
				</lightning-messages>
				Account Name: <span>{nameValue}</span>
				Description: <span>{descriptionValue}</span>
			</lightning-record-view-form>
		</div>
	</lightning-card>
</template>