<template>
	<lightning-card title="EXERCISE 30">
		<div class="slds-p-horizontal_small">
			<template if:true={accounts.data}>
				<template for:each={accounts.data} for:item="account">
					<p key={account.Id}>{account.Name}</p>
				</template>
			</template>
			<template if:true={accounts.error}>
				{accounts.error.body.message}
			</template>
		</div>
	</lightning-card>
</template>