<template>
	<lightning-card title="EXERCISE 16">
		<div class="slds-p-horizontal_small">
			<lightning-input label="Input 1" value={value1}></lightning-input>
			<lightning-input label="Input 2" onchange={handleChange}></lightning-input>
			<lightning-button label="Check properties values" onclick={handleClick}></lightning-button>
		</div>
	</lightning-card>
</template>