<template>
	<lightning-card title="EXERCISE 11">
		<div class="slds-p-horizontal_small">
			<c-exercise11 item-name="Item passed in by the caller"></c-exercise11>
		</div>
	</lightning-card>
</template>
