<template>
	<lightning-card title="EXERCISE 3">
		<div class="slds-p-horizontal_small">
				{helloWorld}
				<lightning-button label="Disappear!" onclick={handleClick}></lightning-button>
		</div>
	</lightning-card>
</template>