<template>
	<lightning-card title="EXERCISE 5">
		<div class="slds-p-horizontal_small">
			<template if:true={showError}>
				<lightning-icon icon-name="utility:error" variant="error">
				</lightning-icon>
			</template>
			<lightning-button label="Toggle error" onclick={handleClick}>
			</lightning-button>
			</div>
	</lightning-card>
</template>