<template>
	<lightning-card title="EXERCISE 11B">
		<div class="slds-p-horizontal_small">
			<c-exercise11b item-name="Item passed in by the caller"></c-exercise11b>
		</div>
	</lightning-card>
</template>