<template>
	<lightning-card title="EXERCISE 12">
		<div class="slds-p-horizontal_small">
			<c-exercise12 item-name="Item passed in by the caller"></c-exercise12>
		</div>
	</lightning-card>
</template> 