<!--
  @File Name          : exercise31b.html
  @Description        : 
  @Author             : Oriol Farras - ofarras@cloudcoachers.com
  @Group              : 
  @Last Modified By   : Oriol Farras - ofarras@cloudcoachers.com
  @Last Modified On   : 17/1/2020 23:41:31
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    17/1/2020   Oriol Farras - ofarras@cloudcoachers.com     Initial Version
-->
<template>
  <lightning-card title="EXERCISE 31b">
    <lightning-button label="New" slot="actions"></lightning-button>
    <p class="slds-p-horizontal_small">Card Body (custom component)</p>
    <p slot="footer">Card Footer</p>
  </lightning-card>
</template>
