<template>
	<lightning-card title="EXERCISE 21BI">
		<div class="slds-p-horizontal_small">
			<p>
				<c-exercise21i class-bold="true" class-color="#aaa" class-italic="false" button-name="Botón 1"></c-exercise21i>
			</p>
			<p>
				<c-exercise21i class-bold="false" class-color="#fff" class-italic="true" button-name="Botón 2"></c-exercise21i>
			</p>
			<p>
				<c-exercise21i class-bold="true" class-color="#000" class-italic="false" button-name="Botón 3"></c-exercise21i>
			</p>
			<p>{details}</p>
			<p>{clickedButtonName}</p>
		</div>
	</lightning-card>
</template>