<template>
	<lightning-card title="EXERCISE 22">
		<div class="slds-p-horizontal_small">
			<c-exercise22 onpropertiesselected={handlePropertiesSelected}></c-exercise22>
		</div>
	</lightning-card>
</template>