<template>
	<lightning-card title="EXERCISE 27">
		<lightning-button slot="actions" label="Change object" onclick={handleClick}></lightning-button>
		<div class="slds-p-horizontal_small">
			<template if:true={fieldPicklistValues.data}>
				{fieldPicklistValues.data}
			</template>
			<template if:true={fieldPicklistValues.error}>
				<p>Error Message: {fieldPicklistValues.error.body.message}</p>
				<p>Error Code: {fieldPicklistValues.error.body.errorCode}</p>
				<p>Error Status Code: {fieldPicklistValues.error.body.statusCode}</p>
			</template>
		</div>
	</lightning-card>
</template>