<template>
	<lightning-card title="EXERCISE 17">
		<div class="slds-p-horizontal_small">
			<c-exercise17></c-exercise17>
			<lightning-button label="Get oranges!" onclick={handleClick}>
			</lightning-button>
			{orangesEaten}
		</div>
	</lightning-card>
</template>
