<template>
	<lightning-card title="EXERCISE 29">
		<lightning-button slot="actions" label="Create Account" onclick={createAccount}></lightning-button>
		<div class="slds-p-horizontal_small">
			<lightning-input label="Account name to create:"></lightning-input>
		</div>
	</lightning-card>
</template> 