<!-- openFileSample.html -->
<template>
    <lightning-card title="EXERCISE 32C">
        <div class="slds-p-horizontal_small">
            <lightning-button label="Ver documentos" onclick={navigateToFiles}></lightning-button>
            <!--<a onclick={navigateToFiles}>Ver documentos</a>-->
        </div>
    </lightning-card>
  </template> 