<template>
	Unnamed slot: <slot></slot>
	Named slot: <slot name="namedSlot"></slot>
	<lightning-button label="this.template.querySelector in child" onclick={showTemplateContent}>
	</lightning-button>
	<lightning-button label="this.querySelector in child" onclick={showSlotsContent}>
	</lightning-button>
</template>