<template>
	<lightning-card title="EXERCISE 8B">
		<div class="slds-p-horizontal_small">
			{helloWorld}
			<lightning-button label="Change tracked property" onclick={handleClick}></lightning-button>
		</div>
	</lightning-card>
</template>
 