<template>
	<div class="tile" style={backgroundImageStyle}>
		<div class="lower-third">
			<h1 class="truncate">{property.Address__c}</h1>
			<p>{property.City__c}, {property.State__c}</p>
			<p>Beds: {property.Beds__c}&nbsp;&nbsp;&nbsp;Baths: {property.Baths__c}</p>
			<p><lightning-formatted-number value={property.Price__c} style="currency" 
									currency-code="USD" minimum-fraction-digits="0" maximum-fraction-digits="0">
				</lightning-formatted-number>
			</p>
		</div>
	</div>
</template>