.tile {
    position:relative;
    display: inline-block;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.lower-third {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, .3);
    padding: 6px 8px;
}
.lower-third > p {
	padding: 0;
    margin: 0;
}
.lower-third h1 {
    font-size: 16px !important;
    padding: 0;
    margin: 0;
}
.open-button {
    position: absolute;
    bottom: 6px;
    right: 4px;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}