<template>
	<lightning-card title="EXERCISE 24">
		<div class="slds-p-horizontal_small">
			<lightning-record-edit-form object-api-name={accountObject} onsuccess={handleSuccess}>
					<lightning-messages>
					</lightning-messages>
					<lightning-input-field field-name={accountNameField}>
					</lightning-input-field>
					<lightning-button
						type="submit"
						label="Create new">
					</lightning-button>
			</lightning-record-edit-form>
		</div>
	</lightning-card>
</template>