<template>
	<lightning-card title="EXERCISE 20B">
		<lightning-button slot="actions" label="Toggle template" onclick={handleClick}></lightning-button>
		<div class="slds-p-horizontal_small">
			<c-exercise20b show-template1={showTemplate1}></c-exercise20b>
		</div>
	</lightning-card>
</template>