<template>
	<lightning-card title="EXERCISE 19C">
		<lightning-button slot="actions" label="Toggle child" onclick={handleClick}></lightning-button>
		<div class="slds-p-horizontal_small">
			PARENT
			<template if:true={showChild}>
				<c-exercise19c1></c-exercise19c1>
			</template>
		</div>
	</lightning-card>
</template>