<template>
	<lightning-card title="EXERCISE 39">
		<div class="content">
			<template if:true={account.data}>
				{account.data.fields.Name.value}
			</template>
		</div>
	</lightning-card>
</template>