<template>
	<lightning-card title="EXERCISE 23">
		<div class="slds-p-horizontal_small">
			<lightning-record-form
				record-id={recordId}
				object-api-name={accountObject}
				layout-type="Compact"
				mode="readonly"
				columns="2"
				fields={accountFields}
				>
			</lightning-record-form>
		</div>
	</lightning-card>
</template>