<template>
	<lightning-card title="EXERCISE 20">
		<div class="slds-p-horizontal_small">
			<template if:true={error}>
				<p>Error: {error}</p>
				<p>Info: {stack}></p>
			</template>
			<template if:false={error}>
				<c-exercise20></c-exercise20>
			</template>
		</div>
	</lightning-card>
</template>