<template>
	<lightning-card title="EXERCISE 26">
		<lightning-button slot="actions" label="Change object" onclick={handleClick}></lightning-button>
		<div class="slds-p-horizontal_small">
			<template if:true={objectInfo.data}>
				{objectInfoSerialized}
			</template>
			<template if:true={objectInfo.error}>
				<p>Error Message: {objectInfo.error.body.message}</p>
				<p>Error Code: {objectInfo.error.body.errorCode}</p>
				<p>Error Status Code: {objectInfo.error.body.statusCode}</p>
			</template>
		</div>
	</lightning-card>
</template>