<template>
	<lightning-card title="EXERCISE 22B">
		<div class="slds-p-horizontal_small">
			<c-exercise22b onpropertiesselected={handlePropertiesSelected}></c-exercise22b>
		</div>
	</lightning-card>
</template>